<form [formGroup]="form">
  <div class="flex flex-col items-center justify-center tracking-wide text-gray-600 w-full">
    <label for="float-input">Naziv</label>
    <input id="float-input" type="text" pInputText formControlName="naziv" />
  </div>
  <div class="flex flex-col items-center">
    <p-toggleButton formControlName="checked"></p-toggleButton>
  </div>
  <div class="flex flex-col items-center">
    <button type="submit" (click)="onSave()" pButton class="p-button-success" label="Dodaj stavku" icon="pi pi-check">Submit</button>
  </div>
</form>
