<p-tabView styleClass="bg-lama bg-blue-800 border-0 rounded-none">
  <p-tabPanel header="VRSTA ZADATKA">
    <!--       <app-filter></app-filter> -->

    <!--  -->
    <div class="w-1/2; float-left" style="margin-left: 1%; padding-top: 1px; padding-bottom: 1px">
      <span class="ui-float-label h-1/6">
        <label style="padding-bottom: 20px" for="float-input"> <i class="pi pi-filter"></i></label>
        <!-- <input class="h-1/6" id="float-input" type="text" size="10" pInputText /> -->
        <!-- <input ng-model="searchText" class="h-1/6 form-control" id="float-input" type="text" size="10" pInputText ng-keyup="filterFunc()" /> -->
        <input type="text" class="h-1/6 form-control" id="filterInput" placeholder="Filter... " size="10" pInputText />
      </span>
    </div>
    <!--  -->
    <div styleClass="w-full h-1/6 justify-between">
      <div class="flex px-4" style="margin-left: 90%; padding-top: 10px; padding-bottom: 10px">
        <div>
          <p-menu #menu [popup]="true" [model]="items"></p-menu>
          <button type="button" pButton pRipple icon="pi pi-book" class="p-button-text" style="font-variant: small-caps; color:black;"
          label="Podatci" (click)="menu.toggle($event)"></button>
        </div>
      </div>
    </div>
    <div class="main-page-template">
      <div class="flex flex-col w-11/12 h-full" styleClass="bg-blue-800 text-primary" class="text-primary">
        <p-table [value]="vrsta"  selectionMode="single" [(selection)]="selectedVrsta" dataKey="id" responsiveLayout="scroll"
        (onRowSelect)="onRowSelect()" (onRowUnselect)="onRowUnselect()">
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Naziv</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-vrsta>
            <tr [pSelectableRow]="vrsta">
              <td>{{ vrsta.id }}</td>
              <td>{{ vrsta.naziv }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>

<ng-template #inactive>
  <i class="pi pi-times-circle text-red-500"></i>
</ng-template>

<!-- <ng-template #notFilteredRef>
  <p-table [value]="vrsta" selectionMode="single" [(selection)]="selectedVrsta" dataKey="id" responsiveLayout="scroll" >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Naziv</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vrsta>
      <tr [pSelectableRow]="vrsta">
        <td>{{ vrsta.id }}</td>
        <td>{{ vrsta.naziv }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-template> -->