<div class="flex flex-col place-items-end"><app-split-button></app-split-button></div>
<p-tabView styleClass="bg-lama">
    <p-tabPanel header="VRSTA PREDMETA">
        <p-table [value]="vrsta"  >
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Aktivan</th>
                    <th>Naziv</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-vrsta>
                <tr>
                    <td>{{vrsta.id}}</td>
                    <td>{{vrsta.aktivan}}</td>
                    <td>{{vrsta.naziv}}</td>
                    
                </tr>
            </ng-template>
        </p-table>
          
     
    </p-tabPanel>
    <p-tabPanel header="TIP PREDMETA">
        <p-table [value]="tip"  >
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Aktivan</th>
                    <th>Naziv</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tip>
                <tr>
                    <td>{{tip.id}}</td>
                    <td>{{tip.aktivan}}</td>
                    <td>{{tip.naziv}}</td>
                    
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="KLASIFIKACIJA PREDMETA">
        <p-table [value]="klas"  >
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Aktivan</th>
                    <th>Naziv</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-klas>
                <tr>
                    <td>{{klas.id}}</td>
                    <td>{{klas.aktivan}}</td>
                    <td>{{klas.naziv}}</td>
                    
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
</p-tabView>

